/* GENERAL EFFECTS */

body 
{
    font-family: arial, sans-serif;
    background-color: #fff;
}
/*NAVBAR EFFECTS*/
.nav-flex-container 
{
 display: flex; 
 position: fixed;
        
 padding: 10px;
 width: 100%;
 left: 0px;
 top: 0px;
 border: 2px yellow solid;
} 

.nav-flex-container a 
{
 color: inherit;
 text-decoration: none;
}

.nav-flex-child 
{
 flex-grow: 1;
 padding-right: 15px;
}

.nav-bar-right 
{ 
 list-style-type: none;
 text-align: right;      
          
 margin: 0;
 padding: 0;
}

.nav-flex-container li 
{
 display: inline-block;   
 padding: 5px;
 margin: 0 5px; 
 color: rgba(0,0,0,0.87);
 font-size: 14px;
}

.nav-flex-container li:not(#sign-in):hover 
{
 text-decoration: underline;
}

#nav-icon 
{
vertical-align: middle;
}

#nav-icon:hover 
{
 box-shadow: 1px 1px 4px #999; 
 color: #999;
 border-radius: 20px;
 
}

#sign-in 
{            
 background: #1a73e8; 
 color:#fff; 
 margin-right: 25px;
 padding: 9px 23px;
 border-radius: 4px;
}

#sign-in:hover 
{
 box-shadow: 1px 1px 5px #999;
}
/*Main Layout*/
.grid-container
{
    display: grid;
    
    
    grid-template-columns: repeat (4,1fr);
    grid-template-rows: 2fr 1fr 1fr 1fr;

    margin: auto;
    margin-top: 250px;
    width: 100vw;
    }
/* 1st row LOGO*/
.row-1
{
    grid-column: 1 / 4;
    grid-row: 1;
    margin: auto;
    margin-bottom: 20px;
    

}
/* 2nd row ICON AND BAR*/

.row-2-box
{
    grid-row: 2;
    grid-column: 1 / 4;
    border-radius: 30px;
    height: 34px;
    margin: auto;
    width: 35%;
    border: 1px solid rgb(138, 136, 136);
    display: inline-block;
    padding-bottom: 10px;
       
}

.row-2-box:hover
{
    box-shadow: 1px 1px 3px #999;
}

#search-icon 
{
margin-left: 10px;
margin-top: 10px;
}

.search-bar
{
    width: 88%;
    height: 75%;
    border: none;

}

/* 3rd row BUTTONS*/
.row-3
{
    grid-row: 3;
    grid-column: 2/3;
    margin: auto;
    border: 1px solid red;
}

.search-button
{
    
 
   border: 2px solid green;
}

.feeling-button
{
    
    border: 2px solid green;
}

/* 4th row LANGUAGES*/
.row-4
{
    grid-row: 4;
    grid-column: 1 / 4;
    margin: auto;
    border: 1px solid red;
    font-size: 13px;
    
}

.row-4 a
{
    color: #1a0dab;;
    text-decoration: none;
    
}
.row-4 a:hover
{
    text-decoration: underline;
}

.row-4 ul
{
    display: inline-block;
}

