/* css reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* html parent */
html {
  font-size: 14px;
}

/* body */
body {
    min-height: 100vh;
    width: 100%;
    border: 0.5px dashed rgb(255, 255, 255);
     }

/* navbar */
header {
        background-color: rgb(255, 255, 255);
        float: center;
        height: 40px;   
       }

nav {
    float: right;
    }

nav li {
    display: inline-block;
    margin-right: 20px;
    padding-top: 15px;
      }

/* google logo */
img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 110px;
    padding: 10px;
    }  

/* search bar */
form {
    display: block;
    margin: auto;
    padding: 10px;
    width: 150px;
}
